<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dasilva.carlos.seriesfan">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".structure.SeriesFanApplication"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.SeriesFan"
        tools:ignore="AllowBackup">

        <activity android:name=".structure.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SplashScreen"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>